.todo-form {
  margin-bottom: 1rem;
}

.todo-form input {
  border-bottom: 1px solid #cccccc;
  padding: 10px;
}

.todo-form button {
  background-color: #f4f4f4;
  padding: 8px;
  border-radius: 3px;
  align-self: end;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.todo-form button:active{
    box-shadow: none;

}

.todo-form button:hover{
  background-color: #f4f4f4;
}