.todo-form {
  margin-bottom: 1rem;
}

.todo-form input {
  border-bottom: 1px solid #cccccc;
  padding: 10px;
}

.todo-form button {
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #37a41c;
}
