.todo {
  visibility: visible;
  opacity: 1;
  transition: all 100ms;
}
.todo-field {
  position: relative;
  background-color: #ffffff;
  padding: 1rem;
  margin-bottom: 12px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 200ms;
}

.todo-input {
  width: 100%;
  margin-left: 10px;
  margin-right: 1rem;
  font-size: 16px;
}

.input-underline {
  position: absolute;
  left: 0;
  width: 2px;
  height: 0%;
  border-radius: 5px;
  background-color: blue;
  overflow: hidden;
  transition: all 250ms;
}

.todo-input:focus ~ .input-underline {
  height: 100%;
}

.todo-input:focus {
  color: blue;
  border: none;
  outline: none;
}

.deleted {
  opacity: 0;
  visibility: hidden;
}

.checked {
  text-decoration: line-through;
}

.todo-field button {
  background-color: #f4f4f4;
  padding: 8px;
  border-radius: 5px;
  color: #8c8c8c;
  transition: all 100ms;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.todo-field button:disabled {
  color: #ccc;
  background-color: #f4f4f4;
}

.todo-field button:active {
  box-shadow: none;
}

.delete-btn:hover {
  background-color: rgba(255, 0, 0, 0.1);
  color: rgba(255, 0, 0, 0.75);
}

.edit-btn:hover {
  background-color: rgba(255, 174, 0, 0.1);
  color: rgba(255, 174, 0, 0.75);
}

.editing {
  background-color: rgba(255, 174, 0, 0.1) !important;
  color: rgba(255, 174, 0, 0.75) !important;
}

.todo-date {
  color: #8c8c8c;
  font-size: 11px;
  text-transform: capitalize;
}
