.main-footer {
  margin-top: auto;
  padding-block: 2rem;
  font-family: var(--ff-Poppins);
  background-color: #f4f4f4;
}

.main-footer__data {
  font-size: 12px;
}

.main-footer__data a:hover {
  color: blue;
}

.main-footer__data ul li {
  font-size: 1.2em;
  text-transform: capitalize;
}

.main-footer__data .nested-ul {
  margin-top: 5px;
}

.main-footer__data .nested-ul li {
  font-size: 1em;
}
